@model MaintecLaser.Common.User


<div class="row row-cust">
    <div class="">
        <div class="img-container span-4">
            <img src="http://images.iimg.in/c/569f4771c45d324bda8b4660-4-501-0-1453279096/google/user-icon-png-pnglogocom.img?crop=1" />
        </div>
        <div class="span-4" style="margin-top:20px;">
            <div class="list-group">
                <div class="list-group-item">@Model.Name</div>
                <div class="list-group-item">@Model.Surname</div>
                <div class="list-group-item">@Model.Email</div>
                <div class="list-group-item">@Model.UserType</div>
            </div>
            <div class="row" style="font-size:16px;margin-left:2px;">
                <div class="col-md-3">Guadagni Personali:<b>@Model.Gain &euro;</b></div>
                <div class="col-md-3">Vendite:<b>@Model.Sales &euro;</b></div>
                
            </div>
        </div>
        @*<div class="span-4"><a href=""><span class="glyphicon glyphicon-remove"></span></a></div>*@
    </div>
</div>
<div style="clear:both"></div>
